extends layout

block content
	.landing-page
		.col-sm-12
			h1.text-center(style='margin-top: 150px; margin-bottom: 50px; font-size: 60px;') F I S T B U M P
		.col-sm-12.text-center
			a.btn.btn-lg.btn-primary.m-right-5(href='/login') Log In
			a.btn.btn-lg.btn-success(href='/signup') Sign Up