doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - FistBump
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.1.1/material.blue_grey-red.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(defer='', src='https://code.getmdl.io/1.1.1/material.min.js')
    script(src='/js/lib/jquery-2.2.0.min.js')
    script(src='/js/lib/bootstrap.min.js')
  body
    include partials/header

    include partials/flash
    block content